@using coproBox.Models
@model coproBox.Models.Gmail

@{
    ViewBag.Title = "Nous contacter";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="witdh=device-width,  initial-scale=1.0">
    <title>PageContact</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link href="~/css/Contact.css" rel="stylesheet">
    
</head>
<body>
    
    <header class="container-fluid">
      
        <nav class="navbar navbar-expand-md">
            <div class="btn-group">
                <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" data-bs-display="static" aria-expanded="false">
                    Profil
                </button>
                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-lg-start">
                    <li><a class="dropdown-item" href="/Utilisateur/ModifierMotDePasse">Mon mot de Passe</a></li>
                    <li><a class="dropdown-item" href="/Utilisateur/ModifierUtilisateur">Mes Informations</a></li>
                    <li><a class="dropdown-item" href="/Home/Deconnexion">Déconnexion</a></li>
                </ul>
            </div>
            <div style="margin-left: 5px">Bonjour @User.Identity.Name.Split(" ")[0]</div>
            <button class="navbar-toggler"
                    style="background-color:#e3f2fd"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#main-navigation"
                    aria-controls="main-navigation"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="main-navigation">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a href="/" class="nav-link">Accueil</a>
                    </li>
                    <li class="nav-item active">
                        <a href="/annonce/" class="nav-link">Annonces</a>
                    </li>
                    <li class="nav-item active">
                        <a href="/cagnotte/" class="nav-link">Cagnottes</a>
                    </li>
                    <li class="nav-item active">
                        <a href="/contact/PageContact" class="nav-link">Contact</a>
                    </li>
                </ul>
            </div>
            <a href="/"><img id="logo" src="~/Image/logo1.png" width="60" height="60" /></a>
        </nav>
    </header>
    <div class="contact-body">

        @using (Html.BeginForm("PageContact", "Contact", FormMethod.Post, new { enctype = "multipart/form-data" })) //1. nom du titre de la page, 2, nom du controller,
        {
            <div class="contact-title">
                <div class="animate__animated animate__backInDown titreAnnonce">Pour rester en contact</div>
            </div>
            <div class="box">
                <!--Form-->
                <div class="contact form">
                    <h6>Envoyer un message</h6>
                    <form>
                        <div class="formBox">
                            <div class="row50">
                                <div class="inputBox">
                                    <span>Prénom</span>
                                    @Html.TextBoxFor(model => model.Prenom, new { @class = "input", placeholder = "Pierre" })
                                </div>
                                <div class="inputBox">
                                    <span>Nom</span>
                                    @Html.TextBoxFor(model => model.Nom, new { @class = "input", placeholder = "DUPONT" })
                                </div>
                            </div>
                            <div class="row50">
                                <div class="inputBox">
                                    <span>Email</span>
                                    @Html.TextBoxFor(model => model.De, new { @class = "input", placeholder = "pierredupont@mail.com" })
                                </div>
                                <div class="inputBox">
                                    <span>Sujet</span>
                                    @Html.TextBoxFor(model => model.Sujet, new { @class = "input", placeholder = "Sujet" })
                                </div>
                            </div>
                            <div class="row100">
                                <div class="inputBox">
                                    <span>Message</span>
                                    @Html.TextAreaFor(model => model.Body, new { row = "15", cols = "25" })
                                </div>
                            </div>
                            <div class="row100">
                                <div class="inputBox">
                                    <input type="submit" value="Envoyer" />
                                </div>
                            </div>
                            @* <span style="color:#F5914A">@ViewBag.Message</span>*@
                        </div>
                    </form>
                </div>
                <!--info Box-->
                <div class="contact info">
                    <h6>CoproBox</h6>
                    <div class="infoBox">
                        <div>
                            <span><img src="~/Image/contact/contact-map.png" width="23" height="23" /></span>
                            <p>2, avenue du Maréchal LECLERC,<br> MALAKOFF FRANCE</p>
                        </div>
                        <div>
                            <span><img src="~/Image/enveloppe-user.png" width="23" height="23" /></span>
                            <a href="mailto:contact.coprobox@gmail.com">contact.coprobox@gmail.com</a>
                        </div>
                        <div>
                            <span><img src="~/Image/user-phone.png" width="23" height="23" /></span>
                            <a href="mailto:coprobox@gmail.com">+33 01 42 01 00 00</a>
                        </div>
                        <!--Réseaux sociaux-->
                        <ul class="sci">
                            <li><a href="#"><ion-icon name="logo-facebook"></ion-icon></a></li>
                            <li><a href="#"><ion-icon name="logo-instagram"></ion-icon></a></li>
                            <li><a href="#"><ion-icon name="logo-linkedin"></ion-icon></a></li>
                        </ul>
                    </div>


                </div>
                <!-- Map-->
                <div class="contact map">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2626.9623388178607!2d2.307779851338007!3d48.82078001120638!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e6705724a0712b%3A0xd740b1e6031b4dd2!2sAv.%20du%20Mar%C3%A9chal%20Leclerc%2C%2092240%20Malakoff!5e0!3m2!1sfr!2sfr!4v1662677467701!5m2!1sfr!2sfr" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                </div>
            </div>
        }
    </div>
    <footer class="footer-10 mt-auto">
        <div class="row w-100">
            <div class="separation"></div>
        </div>
        <div class="row no-gutters ">
            <div class="bas-2">
                <div class="col-md-4 mb-md-0 mb-3 d-flex">
                    <div class="col-md-4 w-100 py-3">
                        <div class="bas w-100 text-center">
                            <h6 class="partie">A propos</h6>
                        </div>
                        <div class="text">
                            <ul class="list-style">
                                <li>Notre histoire</li>
                                <li><a href="/contact/contact">Notre Equipe</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-md-0 mb-3 d-flex">
                    <div class="col-md-4 w-100 py-3">
                        <div class="bas w-100 text-center">
                            <h6 class="partie">L'entreprise</h6>
                        </div>
                        <div class="text">
                            <ul class="list-style">
                                <li><a href="/contact/PageContact">Contacts</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-md-0 mb-3 d-flex">
                    <div class="col-md-4 w-100 py-3">
                        <div class="bas w-100 text-center">
                            <h6 class="partie">Ressources</h6>
                        </div>
                        <div class="text">
                            <ul class="list-style">
                                <li><a href="" class="d-block">Politique de confidentialité</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="base">
                <p>Copyright © Team Coprobox</p>
            </div>
        </div>
    </footer>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
</html>