@using coproBox.Models
@model coproBox.Models.Utilisateur
@{
    Layout = "_Layout";
    ViewBag.Title = "Création compte utilisateur";
}

@using (Html.BeginForm())

{
    <div class="user-section">Créer un utilisateur</div>

    <div class="user-body">
        <div class="user-categorie">
            <div class="user-label">
                @Html.LabelFor(m => Model.InfosPersonnelle.Prenom)
            </div>
            <div class="user-text ">
                @Html.TextBoxFor(m => Model.InfosPersonnelle.Prenom)
                @Html.ValidationMessageFor(m => Model.InfosPersonnelle.Prenom)
            </div>
        </div>
        <div class="user-categorie">
            <div class="user-label">
                @Html.LabelFor(m => Model.InfosPersonnelle.Nom)
            </div>
            <div class="user-text ">
                @Html.TextBoxFor(m => Model.InfosPersonnelle.Nom)
                @Html.ValidationMessageFor(m => Model.InfosPersonnelle.Nom)

            </div>
        </div>
        <div class="user-categorie">
            <div class="user-label">
                @Html.LabelFor(m => Model.Compte.motDePasse)
            </div>
            <div class="user-text ">
                @Html.TextBoxFor(m => Model.Compte.motDePasse)
                @Html.ValidationMessageFor(m => Model.Compte.motDePasse)
            </div>
        </div>
        <div class="user-categorie">
            <div class="user-label">
                @Html.LabelFor(m => Model.Compte.email)
            </div>
            <div class="user-text ">
                @Html.TextBoxFor(m => Model.Compte.email)
                @Html.ValidationMessageFor(m => Model.Compte.email)
            </div>
        </div>

        <div class="user-btn-submit">
            <input type="submit" value="Enregistrer" />
        </div>

    </div>
 }
