@using coproBox.Models
@model coproBox.Models.Utilisateur
@{
    Layout = "_Layout";
    ViewBag.Title = "Création compte utilisateur";
}

{
    <fieldset>
        <legend>Créer un compte : </legend>
        <div class="user.name">
            @Html.LabelFor(m => Model.InfosPersonnelle.Nom)
            @Html.TextBoxFor(m => Model.InfosPersonnelle.Nom)
            @Html.ValidationMessageFor(m => Model.InfosPersonnelle.Nom)
        </div>

        <div>
            @Html.LabelFor(m => Model.InfosPersonnelle.Prenom)
            @Html.TextBoxFor(m => Model.InfosPersonnelle.Prenom)
            @Html.ValidationMessageFor(m => Model.InfosPersonnelle.Prenom)
        </div>

        <div class="user_numRue">
            @Html.LabelFor(m => Model.Adresse.numeroRue)
            @Html.TextBoxFor(m => Model.Adresse.numeroRue)
            @Html.ValidationMessageFor(m => Model.Adresse.numeroRue)
        </div>

        <div class="user_nomRue">
            @Html.LabelFor(m => Model.Adresse.nomRue)
            @Html.TextBoxFor(m => Model.Adresse.nomRue)
            @Html.ValidationMessageFor(m => Model.Adresse.nomRue)
        </div>

        <div class="user_codePostal">
            @Html.LabelFor(m => Model.Adresse.codePostal)
            @Html.TextBoxFor(m => Model.Adresse.codePostal)
            @Html.ValidationMessageFor(m => Model.Adresse.codePostal)
        </div>

        <div class="user_ville">
            @Html.LabelFor(m => Model.Adresse.nomVille)
            @Html.TextBoxFor(m => Model.Adresse.nomVille)
            @Html.ValidationMessageFor(m => Model.Adresse.nomVille)
        </div>

        <div class="user_mdp">
            @Html.LabelFor(m => Model.Compte.motDePasse)
            @Html.TextBoxFor(m => Model.Compte.motDePasse)
            @Html.ValidationMessageFor(m => Model.Compte.motDePasse)
        </div>

        <input type="submit" value="Enregistrer" />

        <input type="submit" value="Effacer" />
    </fieldset>
}
