<div class="dash-mod">
    <div class="dash-cagnottes">
        <h3>Cagnottes en cours</h3>
        <a href="/cagnotte/CreerCagnotte">Nouvelle Cagnotte</a>
        @{ int i = 1, nbrCagnottes = Model.Cagnottes.Count; }
        @foreach (var cagnotte in Model.Cagnottes)
        {
            <div class="dash-cagnotte">
                <div class="dash-heart">
                    <div class="heart-container">
                        <a href="/cagnotte/modifiercagnotte/@cagnotte.Id">
                            <div class="filling-heart">
                                <img src="~/image/heartempty2.png" width="300" height="300" />
                            </div>
                        </a>
                        <div class="img-container">
                            <div class="filling-heart h3art" style="height:@((int)(300*@cagnotte.SommeActuelle/@cagnotte.SommeObjectif))px; top:@((int)((-300.0)*@cagnotte.SommeActuelle/@cagnotte.SommeObjectif))px;">
                                <img src="~/image/heartfull2.png" />
                            </div>
                        </div>
                    </div>
                </div>
                <h2>@cagnotte.Titre</h2>
                <div>@cagnotte.Description</div>
                <div>@cagnotte.SommeActuelle€ / @cagnotte.SommeObjectif€</div>
                <div class="dash-numbertext">@i / @nbrCagnottes</div>
            </div>

            i++;
        }
        <!-- Next and previous buttons -->
        <div class="prev-next">
            <a class="dash-prev" onclick="plusSlides('dash-cagnotte',-1)">&#10094;</a>
            <a class="dash-next" onclick="plusSlides('dash-cagnotte',1)">&#10095;</a>
        </div>
    </div>
    <div class="dash-annonces">
        <h3>Annonces à vérifier</h3>
        @{ int j = 1, nbrAnnonces = Model.AnnoncesAVerifier.Count; }
        @foreach (var annonce in Model.AnnoncesAVerifier)
        {
            <div class="dash-annonce">
                <h2>@annonce.Titre</h2>
                @*Ajout image pour tester Valéry*@
                <a href="/annonce/verifierannonce/@annonce.Id">
                    <img src="@annonce.ImagePath" class="img-thumbnail" style="width:200px;  height:200px" alt="image annonce">
                </a>
                <div>@annonce.Description</div>
                <div class="dash-numbertext">@j / @nbrAnnonces</div>
            </div>

            j++;
        }
        <!-- Next and previous buttons -->
        <div class="prev-next">
            <a class="dash-prev" onclick="plusSlides('dash-annonce',-1)">&#10094;</a>
            <a class="dash-next" onclick="plusSlides('dash-annonce',1)">&#10095;</a>
        </div>
    </div>
</div>
<script>
    let slideIndexAnnonce = 1, slideIndexCagnotte = 1;
    showSlides("dash-cagnotte", slideIndexAnnonce);
    showSlides("dash-annonce", slideIndexCagnotte);

    // Next/previous controls
    function plusSlides(classe, n) {
        showSlides(classe, classe == "dash-cagnotte" ? slideIndexCagnotte += n : slideIndexAnnonce += n);
    }

    function showSlides(classe, n) {
        let i;
        let slides = document.getElementsByClassName(classe.trim());
        if (classe == "dash-cagnotte") { 
            if (n > slides.length) slideIndexCagnotte = 1;
            if (n < 1) slideIndexCagnotte = slides.length;
            }
        
        if (classe == "dash-annonce") {
            if (n > slides.length) slideIndexAnnonce = 1;
            if (n < 1) slideIndexAnnonce = slides.length;
        }
        
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }

        if (classe == "dash-cagnotte")
            slides[slideIndexCagnotte - 1].style.display = "block";
        if (classe == "dash-annonce") 
            slides[slideIndexAnnonce - 1].style.display = "block"; 
    }
</script>