<div class="dash-adm">
    <h3>Comptes utilisateur</h3>
    <div class="user-btn">
        <a href="/Utilisateur/CreerUtilisateur" class="btn btnCard-user mt-2 mb-4">Créer Utilisateur</a>
    </div>
    <div class="dash-usrlist">
        <table class="table table-info table-striped table-hover">
            <tr>
                <th>Nom</th>
                <th>Prenom</th>
                <th>adresse mail</th>
                <th>Propriétaire</th>
                <th>Role</th>
                <th>Modifer</th>
            </tr>
            @foreach (var utilisateur in Model.Utilisateurs)
            {
                <tr>
                    <td class="table-info user-list">@utilisateur.InfosPersonnelle.Nom</td>
                    <td>@utilisateur.InfosPersonnelle.Prenom</td>
                    <td class="table-info">@utilisateur.Compte.email</td>
                    <td>@utilisateur.Compte.Role</td>
                    <td>@utilisateur.Compte.estProprietaire</td>
                    <td class="table-info"><a href="utilisateur/modifierutilisateur/@utilisateur.Id">Edit</a></td>
                </tr>
            }
        </table>
    </div>
</div>