<div class="dash-mod">
    <div class="dash-cagnottes">
        <h3>Cagnottes en cours</h3>
        <div class="user-btn">
            <a href="/Cagnotte/CreerCagnotte" class="btn btnCard-user mt-2 mb-4">Créer Cagnotte</a>
        </div>
        @{ int i = 1, nbrCagnottes = Model.Cagnottes.Count; }
        @foreach (var cagnotte in Model.Cagnottes)
        {
            <div class="dash-cagnotte border-top">
                <h4 class="mt-2">@cagnotte.Titre</h4>
                <div>@cagnotte.Description</div>
                <div>@cagnotte.SommeActuelle€ / @cagnotte.SommeObjectif€</div>
                <div class="dash-numbertext">@i / @nbrCagnottes</div>
                <div class="user-btn">
                    <a href="/Cagnotte/ModifierCagnotte/@cagnotte.Id" class="btn btnCard-user">Modifier</a>
                </div>
            </div>
            i++;
        }
        <!-- Next and previous buttons -->
        <div class="prev-next">
            <a class="dash-prev" onclick="plusSlides('dash-cagnotte',-1)">&#10094;</a>
            <a class="dash-next" onclick="plusSlides('dash-cagnotte',1)">&#10095;</a>
        </div>
    </div>
    <div class="dash-annonces">
        <h3 class="mb-3">Annonces à vérifier</h3>
        @{ int j = 1, nbrAnnonces = Model.AnnoncesAVerifier.Count; }
        @foreach (var annonce in Model.AnnoncesAVerifier)
        {
            <div class="dash-annonce">
                <h4 class="mb-2">@annonce.Titre</h4>
                <a href="/annonce/verifierannonce/@annonce.Id">
                    <img src="@annonce.ImagePath" class="img-thumbnail" style="width:200px;  height:200px" alt="image annonce">
                </a>
                <div>@annonce.Description</div>
                <div class="dash-numbertext">@j / @nbrAnnonces</div>
            </div>

            j++;
        }
        <!-- Next and previous buttons -->
        <div class="prev-next">
            <a class="dash-prev" onclick="plusSlides('dash-annonce',-1)">&#10094;</a>
            <a class="dash-next" onclick="plusSlides('dash-annonce',1)">&#10095;</a>
        </div>
    </div>
</div>
<script>
    let slideIndexAnnonce = 1, slideIndexCagnotte = 1;
    showSlides("dash-cagnotte", slideIndexAnnonce);
    showSlides("dash-annonce", slideIndexCagnotte);

    // Next/previous controls
    function plusSlides(classe, n) {
        showSlides(classe, classe == "dash-cagnotte" ? slideIndexCagnotte += n : slideIndexAnnonce += n);
    }

    function showSlides(classe, n) {
        let i;
        let slides = document.getElementsByClassName(classe.trim());
        if (classe == "dash-cagnotte") { 
            if (n > slides.length) slideIndexCagnotte = 1;
            if (n < 1) slideIndexCagnotte = slides.length;
            }
        
        if (classe == "dash-annonce") {
            if (n > slides.length) slideIndexAnnonce = 1;
            if (n < 1) slideIndexAnnonce = slides.length;
        }
        
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }

        if (classe == "dash-cagnotte" && slides.length > 0)
            slides[slideIndexCagnotte - 1].style.display = "block";
        if (classe == "dash-annonce" && slides.length > 0)
            slides[slideIndexAnnonce - 1].style.display = "block"; 
    }
</script>