@model List<coproBox.Models.Utilisateur>
@{
    Layout = "_Layout";
    ViewBag.Title = "Utilisateur";
}
<div class="user-list">

  

    <table class="table table-striped table-hover">
        <tr>
            <th>Nom</th>
            <th>Prenom</th>
            <th>adresse mail</th>
            <th>role</th>
            <th>nombre d'annonce</th>
        </tr>
        @foreach (var utilisateur in Model)
        {
            <tr>
                <td class="table-info">@utilisateur.InfosPersonnelle.Prenom</td>
                <td>@utilisateur.InfosPersonnelle.Nom</td>
                <td class="table-info">@utilisateur.Compte.email</td>
                <td>@utilisateur.Compte.role</td>
                <td class="table-info">@utilisateur.Compte.nombreAnnonce</td>
            </tr>
        }
    </table>
</div>