@model List<coproBox.Models.Utilisateur>
@{
    Layout = "_Layout";
    ViewBag.Title = "Utilisateur";
}
<div class="user-list">

    <table class="table table-info table-striped table-hover">
        <tr>
            <th>Nom</th>
            <th>Prenom</th>
            <th>adresse mail</th>
            <th>Propriétaire</th>
            <th>Role</th>
            <th>Modifer</th>
        </tr>
        @foreach (var utilisateur in Model)
        {
    <tr>
        <td class="table-info user-list">@utilisateur.InfosPersonnelle.Nom</td>
        <td>@utilisateur.InfosPersonnelle.Prenom</td>
        <td class="table-info">@utilisateur.Compte.email</td>
        <td>@utilisateur.Compte.estProprietaire</td>
        <td>@utilisateur.Compte.Role</td>
        <td class="table-info"><a href="/utilisateur/modifierutilisateur/@utilisateur.Id">Modifier</a></td>
        <td class="table-info"><a href="utilisateur/supprimerutilisateur/@utilisateur.Id">Supprimer</a></td>
    </tr>
        }
    </table>
</div>