@model coproBox.Models.Utilisateur
@{
    Layout = "_Layout";
}


<div class="user-update-form">
    <form class="row g-3" method="post">
        <div class="row w-100">
            <div class="col-md-4">
                @Html.LabelFor(m => Model.InfosPersonnelle.Nom, new { @class = "form-label" })
                <div class="col-sm-6">
                    @Html.TextBoxFor(m => Model.InfosPersonnelle.Nom, new { @class = "form-control", placeholder = "Nom" })
                </div>
                <div class="col-sm-4">
                    @Html.ValidationMessageFor(model => model.InfosPersonnelle.Nom)
                </div>
            </div>

            <div class="col-md-4">
                @Html.LabelFor(m => Model.InfosPersonnelle.Prenom, new { @class = "form-label" })
                <div class="col-sm-6">
                    @Html.TextBoxFor(m => Model.InfosPersonnelle.Prenom, new { @class = "form-control", placeholder = "Prenom" })
                </div>
                <div class="col-sm-4">
                    @Html.ValidationMessageFor(model => model.InfosPersonnelle.Prenom)
                </div>
            </div>

            <div class="col-md-3">
                @Html.LabelFor(model => model.InfosPersonnelle.dateNaissance, new { @class = "form-label" })
                <div class="col-sm-6">
                    @Html.EditorFor(m => m.InfosPersonnelle.dateNaissance, new { @class = "form-control", placeholder = "Date de naissance", htmlAttributes = new { type = "" } })
                </div>
                <div class="col-sm-4">
                    @Html.ValidationMessageFor(model => model.InfosPersonnelle.dateNaissance)
                </div>
            </div>
        </div>
        <div class="row w-100">
            <div class="col-md-4">
                <div class="input-group has-validation">
                    <span class="input-group-text" id="inputGroupPrepend"></span>
                    <span class="input-group-text" id="inputGroupPrepend">@@</span>
                    @Html.LabelFor(model => model.Compte.email, new { @class = "form-label" })
                    <div class="col-sm-6">
                        @Html.TextAreaFor(m => m.Compte.email, new { @class = "form-control", placeholder = "email" })
                    </div>
                    <div class="col-sm-4">
                        @Html.ValidationMessageFor(model => model.Compte.email)
                    </div>
                </div>
            </div>
        </div>
        <div class="row w-100">
            <div class="col-md-3">
                @Html.LabelFor(model => model.Adresse.numeroPorte, new { @class = "form-label" })
                <div class="col-sm-6">
                    @Html.TextAreaFor(m => m.Adresse.numeroPorte, new { @class = "form-control", placeholder = "n°d'appartement" })
                </div>
                <div class="col-sm-4">
                    @Html.ValidationMessageFor(model => model.Adresse.numeroPorte)
                </div>
            </div>
            <div class="col-md-3">
                @Html.LabelFor(model => model.Adresse.numeroRue, new { @class = "form-label" })
                <div class="col-sm-6">
                    @Html.TextAreaFor(m => m.Adresse.numeroRue, new { @class = "form-control", placeholder = "n°de rue" })
                </div>
                <div class="col-sm-4">
                    @Html.ValidationMessageFor(model => model.Adresse.numeroRue)
                </div>
            </div>

            <div class="col-md-6">
                @Html.LabelFor(model => model.Adresse.nomRue, new { @class = "form-label" })
                <div class="col-sm-6">
                    @Html.TextAreaFor(m => m.Adresse.nomRue, new { @class = "form-control", placeholder = "complément adresse" })
                </div>
                <div class="col-sm-4">
                    @Html.ValidationMessageFor(model => model.Adresse.nomRue)
                </div>
            </div>
        </div>
        <div class="row w-100">
            <div class="col-md-3">
                @Html.LabelFor(model => model.Adresse.codePostal, new { @class = "form-label" })
                <div class="col-sm-6">
                    @Html.TextAreaFor(m => m.Adresse.codePostal, new { @class = "form-control", placeholder = "Code Postal" })
                </div>
                <div class="col-sm-4">
                    @Html.ValidationMessageFor(model => model.Adresse.codePostal)
                </div>
            </div>
            <div class="col-md-6">
                @Html.LabelFor(model => model.Adresse.nomVille, new { @class = "form-label" })
                <div class="col-sm-6">
                    @Html.TextAreaFor(m => m.Adresse.nomVille, new { @class = "form-control", placeholder = "Ville" })
                </div>
                <div class="col-sm-4">
                    @Html.ValidationMessageFor(model => model.Adresse.nomVille)
                </div>
            </div>
        </div>
        <div class="user-categorie">
            <div class="user-label">
                @Html.LabelFor(m => m.Compte.motDePasse)
            </div>
            <div class="user-text ">
                @Html.EditorFor(m => m.Compte.motDePasse, new { @class = "form-control", htmlAttributes = new { type = "password" } })
                @Html.ValidationMessageFor(m => m.Compte.motDePasse)
            </div>
        </div>
        <div class="col-12">
            <button class="btn btn-primary" type="submit">Valider</button>
        </div>
    </form>
</div>



@*    <div class="user-section">Modifier un utilisateur</div>

    <div class="zone-form">

        <div class="row justify-content-center">
            <form class="formAnnonce " method="post" enctype="multipart/form-data">
                <fieldset class="user-form">
                    <div class="row mb-3">

            
    
*@




