@model coproBox.Models.Utilisateur
@{
    Layout = "_Layout";
    ViewBag.Title = "Modifier un utilisateur";
}


   

<div class="animate__animated animate__backInDown titreAnnonce">Modifier un utilisateur</div>

<div class="body-info-create">
    <div class="body-create">
        <div class="info-body">
            <form class="row g-3 mx-auto  user-edit-form" style="width:900px" method="post">
                <div class="row mb-3">
                    @Html.HiddenFor(model => model.Profil.ImageProfil)
                    @Html.LabelFor(model => model.Profil.ImageProfil, new { id = "user-imageLabel", @style = "text-align:center;" })
                    <div class="col-sm-6">
                        @Html.TextBoxFor(model => model.Profil.ImageProfil, new { @type = "file" })
                    </div>
                </div>
                <div class="user-formulaire">
                    <div class="row user-info-perso">
                        <div class="user-data">
                            <div class="user-nom">
                                <span class="input-group-text ">
                                    <img src="/Image/user-profil.png" width="23" height="23" />
                                </span>
                                @Html.TextBoxFor(model => model.InfosPersonnelle.Nom, new { @class = "user-input", placeholder = "Nom" })
                            </div>
                            <div>
                                @Html.ValidationMessageFor(model => model.InfosPersonnelle.Nom)
                            </div>
                        </div>
                        <div class="user-data">
                            <div class="user-nom">
                                <span class="input-group-text ">
                                    <img src="/Image/user-profil.png" width="23" height="23" />
                                </span>
                                @Html.TextBoxFor(model => model.InfosPersonnelle.Prenom, new { @class = "user-input", placeholder = "Prenom" })
                            </div>
                            <div>
                                @Html.ValidationMessageFor(model => model.InfosPersonnelle.Prenom)
                            </div>
                        </div>
                    </div>
                </div>

                <div class="user-section">Vos Infos contacts</div>

                <div class="user-formulaire">
                    <!-- Email et Date de naissance -1 -->
                    <div class="row user-info-perso">
                        <div class="user-data">
                            <div class="user-nom">
                                <span class="input-group-text ">
                                    <img src="/Image/enveloppe-user.png" width="23" height="23" />
                                </span>
                                @Html.TextBoxFor(model => model.Compte.email, new { @class = "user-input", placeholder = "email" })
                            </div>
                            <div>
                                @Html.ValidationMessageFor(model => model.Compte.email)
                            </div>
                        </div>
                        <div class="user-data">
                            <div class="user-nom">
                                <span class="input-group-text ">
                                    <img src="/Image/user-anniv.png" width="23" height="23" />
                                </span>
                                @Html.EditorFor(model => model.InfosPersonnelle.dateNaissance, new { @class = "user-input", placeholder = "Date de naissance", htmlAttributes = new { type = "Date" } })
                            </div>
                            <div>
                                @Html.ValidationMessageFor(model => model.InfosPersonnelle.dateNaissance)
                            </div>
                        </div>
                    </div>
                </div>

                <div class="user-section">Votre Adresse</div>

                <div class="user-formulaire">
                    <!-- Adresse -1 -->
                    <div class="row user-info-perso">
                        <div class="user-data">
                            @Html.LabelFor(model => model.Adresse.NumeroPorte, new { @class = "user-label-form" })
                            <div class="user-nom">
                                <span class="input-group-text ">
                                    <img src="/Image/user-adresse.png" width="23" height="23" />
                                </span>
                                @Html.TextBoxFor(model => model.Adresse.NumeroPorte, new { @class = "user-input", placeholder = "n°d'appartement" })
                            </div>
                            <div>
                                @Html.ValidationMessageFor(model => model.Adresse.NumeroPorte)
                            </div>
                        </div>
                        <div class="user-data">
                            @Html.LabelFor(model => model.Adresse.AdressePrincipale, new { @class = "user-label-form" })
                            <div class="user-nom">

                                <span class="input-group-text ">
                                    <img src="/Image/user-adresse.png" width="23" height="23" />
                                </span>
                                @Html.TextBoxFor(model => model.Adresse.AdressePrincipale, new { @class = "user-input", placeholder = "Adresse principale" })
                            </div>
                            <div>
                                @Html.ValidationMessageFor(model => model.Adresse.AdressePrincipale)
                            </div>
                        </div>
                    </div>
                    <!-- Adresse - 2 -->
                    <div class="row user-info-perso">
                        <div class="user-data">
                            @Html.LabelFor(model => model.Adresse.CodePostal, new { @class = "user-label-form" })
                            <div class="user-nom">

                                <span class="input-group-text ">
                                    <img src="/Image/user-adresse.png" width="23" height="23" />
                                </span>
                                @Html.TextBoxFor(model => model.Adresse.CodePostal, new { @class = "user-input", placeholder = "Code Postal" })
                            </div>
                            <div>
                                @Html.ValidationMessageFor(model => model.Adresse.CodePostal)
                            </div>
                        </div>
                        <div class="user-data">
                            @Html.LabelFor(model => model.Adresse.Ville, new { @class = "user-label-form" })
                            <div class="user-nom">
                                <span class="input-group-text ">
                                    <img src="/Image/user-adresse.png" width="23" height="23" />
                                </span>
                                @Html.TextBoxFor(model => model.Adresse.Ville, new { @class = "user-input", placeholder = "Ville" })
                            </div>
                            <div>
                                @Html.ValidationMessageFor(model => model.Adresse.AdressePrincipale)
                            </div>
                        </div>
                    </div>
                </div>

                <div class="user-section">Informations complémentaires</div>

                <div class="user-formulaire">
                    <div class="row user-info-perso">
                        <div class="user-data">
                            @Html.LabelFor(model => model.Compte.motDePasse, new { @class = "user-label-form" })
                            <div class="user-nom">

                                <span class="input-group-text ">
                                    <img src="/Image/user-mdp.png" width="23" height="23" />
                                </span>
                                @Html.PasswordFor(model => model.Compte.motDePasse, new { @class = "user-input" })
                            </div>
                            <div>
                                @Html.ValidationMessageFor(model => model.Compte.motDePasse)
                            </div>
                        </div>
                        <div class="user-data">
                            @Html.LabelFor(model => model.InfosContact.telephone, new { @class = "user-label-form" })
                            <div class="user-nom">
                                <span class="input-group-text ">
                                    <img src="/Image/user-phone.png" width="23" height="23" />
                                </span>
                                @Html.TextBoxFor(model => model.InfosContact.telephone, new { @class = "user-input", placeholder = "Téléphone" })
                            </div>
                            <div>
                                @Html.ValidationMessageFor(model => model.InfosContact.telephone)
                            </div>
                        </div>
                        @if (Context.User.IsInRole("Administrateur"))
                            {
                            <div class="user-data">
                                <div class="user-info-role">
                                    <h8>Propriétaire ?</h8>
                                    <div class="user-info-type">
                                        @Html.CheckBoxFor(model => model.Compte.estProprietaire)
                                    </div>
                                </div>
                            </div>
                            }
                        </div>
                </div>

                <div class="user-edit-btn">
                    <button class="btn btnCard-user" type="submit">Valider</button>
                    @if (Context.User.IsInRole("Administrateur"))
                    {
                        <a href=# class="btnSupprimer card-link" data-bs-toggle="modal" data-bs-target="#exampleModal2">Supprimer</a>
                        <!-- Modal -->
                        <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel2" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel2">
                                            <img src="/Image/attention.jpg" style="width: 80px; height:80px" alt="">
                                        </h5>
                                        
                                    </div>
                                    <div class="modal-body">
                                        Êtes-vous sûr de vouloir supprimer cet utilisateur?
                                    </div>
                                    <div class="modal-footer">


                                        <button class="btn btnCard-user-delete" type="submit">Supprimer</button>

                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </form>
        </div>
    </div>
</div>
