@model coproBox.Models.Utilisateur
@{
    Layout = "_Layout";
}
<div class="user-section">Modifier un utilisateur</div>
<form class="row g-3 mx-auto  user-edit-form" style="width:900px" method="post">

    <div class="user-formulaire">
        <div class="row user-info-perso">
            <div class="user-data">
                <div class="user-nom">
                    <span class="input-group-text ">
                        <img src="~/Image/user-profil.png" width="23" height="23" />
                    </span>
                    @Html.TextBoxFor(model => model.InfosPersonnelle.Nom, new { @class = "user-input", placeholder = "Nom" })
                </div>
                <div>
                    @Html.ValidationMessageFor(model => model.InfosPersonnelle.Nom)
                </div>
            </div>
            <div class="user-data">
                <div class="user-nom">
                    <span class="input-group-text ">
                        <img src="~/Image/user-profil.png" width="23" height="23" />
                    </span>
                    @Html.TextBoxFor(model => model.InfosPersonnelle.Prenom, new { @class = "user-input", placeholder = "Prenom" })
                </div>
                <div>
                    @Html.ValidationMessageFor(model => model.InfosPersonnelle.Prenom)
                </div>
            </div>
        </div>
    </div>

<div class="user-section">Vos Infos contacts</div>

    <div class="user-formulaire">
        <!-- Email et Date de naissance -1 -->
        <div class="row user-info-perso">
            <div class="user-data">
                <div class="user-nom">
                    <span class="input-group-text ">
                        <img src="~/Image/enveloppe-user.png" width="23" height="23" />
                    </span>
                    @Html.TextBoxFor(model => model.Compte.email, new { @class = "user-input", placeholder = "email" })
                </div>
                <div>
                    @Html.ValidationMessageFor(model => model.Compte.email)
                </div>
            </div>
            <div class="user-data">
                <div class="user-nom">
                    <span class="input-group-text ">
                        <img src="~/Image/user-anniv.png" width="23" height="23" />
                    </span>
                    @Html.EditorFor(model => model.InfosPersonnelle.dateNaissance, new { @class = "user-input", placeholder = "Date de naissance", htmlAttributes = new { type = "Date" } })
                </div>
                <div>
                    @Html.ValidationMessageFor(model => model.InfosPersonnelle.dateNaissance)
                </div>
            </div>
        </div>
    </div>

<div class="user-section">Votre Adresse</div>

    <div class="user-formulaire">
        <!-- Adresse -1 -->
        <div class="row user-info-perso">
            <div class="user-data">
                @Html.LabelFor(model => model.Adresse.NumeroPorte, new { @class = "user-label-form" })
                <div class="user-nom">
                    <span class="input-group-text ">
                        <img src="~/Image/user-adresse.png" width="23" height="23" />
                    </span>
                    @Html.TextBoxFor(model => model.Adresse.NumeroPorte, new { @class = "user-input", placeholder = "n°d'appartement" })
                </div>
                <div>
                    @Html.ValidationMessageFor(model => model.Adresse.NumeroPorte)
                </div>
            </div>
            <div class="user-data">
                @Html.LabelFor(model => model.Adresse.AdressePrincipale, new { @class = "user-label-form" })
                <div class="user-nom">

                    <span class="input-group-text ">
                        <img src="~/Image/user-adresse.png" width="23" height="23" />
                    </span>
                    @Html.TextBoxFor(model => model.Adresse.AdressePrincipale, new { @class = "user-input", placeholder = "Adresse principale" })
                </div>
                <div>
                    @Html.ValidationMessageFor(model => model.Adresse.AdressePrincipale)
                </div>
            </div>
        </div>
        <!-- Adresse - 2 -->
        <div class="row user-info-perso">
            <div class="user-data">
                @Html.LabelFor(model => model.Adresse.CodePostal, new { @class = "user-label-form" })
                <div class="user-nom">

                    <span class="input-group-text ">
                        <img src="~/Image/user-adresse.png" width="23" height="23" />
                    </span>
                    @Html.TextBoxFor(model => model.Adresse.CodePostal, new { @class = "user-input", placeholder = "Code Postal" })
                </div>
                <div>
                    @Html.ValidationMessageFor(model => model.Adresse.CodePostal)
                </div>
            </div>
            <div class="user-data">
                @Html.LabelFor(model => model.Adresse.Ville, new { @class = "user-label-form" })
                <div class="user-nom">
                    <span class="input-group-text ">
                        <img src="~/Image/user-adresse.png" width="23" height="23" />
                    </span>
                    @Html.TextBoxFor(model => model.Adresse.Ville, new { @class = "user-input", placeholder = "Ville" })
                </div>
                <div>
                    @Html.ValidationMessageFor(model => model.Adresse.AdressePrincipale)
                </div>
            </div>
        </div>
    </div>

    <div class="user-section">Informations complémentaires</div>

           <div class="user-formulaire">
            <div class="row user-info-perso">
                <div class="user-data">
                    @Html.LabelFor(model => model.Compte.motDePasse, new { @class = "user-label-form" })
                    <div class="user-nom">

                        <span class="input-group-text ">
                            <img src="~/Image/user-mdp.png" width="23" height="23" />
                        </span>
                        @Html.EditorFor(model => model.Compte.motDePasse, new { @class = "user-input", placeholder = "Mot de passe", htmlAttributes = new { type = "password" } })
                    </div>
                    <div>
                        @Html.ValidationMessageFor(model => model.Compte.motDePasse)
                    </div>
                </div>
                <div class="user-data">
                    @Html.LabelFor(model => model.InfosContact.telephone, new { @class = "user-label-form" })
                    <div class="user-nom">
                        <span class="input-group-text ">
                            <img src="~/Image/user-phone.png" width="23" height="23" />
                        </span>
                        @Html.TextBoxFor(model => model.InfosContact.telephone, new { @class = "user-input", placeholder = "Téléphone" })
                    </div>
                    <div>
                        @Html.ValidationMessageFor(model => model.InfosContact.telephone)
                    </div>
                </div>
            </div>
        </div>

        <div class="user-edit-btn">
            <button class="btn btnCard-user" type="submit">Valider</button>
            <button class="btn btnCard-user-delete" type="submit">Supprimer</button>
        </div>

        

    </form> 