@model coproBox.Models.Utilisateur
@{
    Layout = "_Layout";
    ViewBag.Title = "Modifier son mot de passe";
}



<div class="body-info-create">
    <div class="body-create">
        <div class="info-body" style="width:450px">
            <form class="row g-3 mx-auto user-edit-password" style="width:400px" method="post" enctype="multipart/form-data">
                @using (Html.BeginForm())
                {
                    <div class="user-section">Mot de passe actuel</div>
                    <div class="user-data">
                        <div class="user-nom">
                            <span class="input-group-text ">
                                <img src="/Image/user-mdp.png" width="23" height="23" />
                            </span>
                            @Html.EditorFor(model => model.Compte.motDePasse, new { @class = "user-input", placeholder = "Mot de passe", htmlAttributes = new { type = "password", name = "Oldpwd" } })
                        </div>
                        <div>
                            @Html.ValidationMessageFor(model => model.Compte.motDePasse)
                        </div>
                    </div>
                    <div class="user-section">Renseignez votre nouveau mot de passe</div>
                    <div class="user-data">
                        <div class="user-nom">
                            <span class="input-group-text ">
                                <img src="/Image/user-mdp.png" width="23" height="23" />
                            </span>
                            @Html.EditorFor(model => model.Compte.motDePasse, new { @class = "user-input", placeholder = "Mot de passe", htmlAttributes = new { type = "password", name = "Newpwd" } })
                        </div>
                        <div>
                            @Html.ValidationMessageFor(model => model.Compte.motDePasse)
                        </div>
                    </div>
                    @*<div class="user-data">
                        <div class="user-nom">
                            <span class="input-group-text ">
                                <img src="/Image/user-mdp.png" width="23" height="23" />
                            </span>
                            @Html.EditorFor(model => model.Compte.motDePasse, new { @class = "user-input", placeholder = "Mot de passe", htmlAttributes = new { type = "password" } })
                        </div>
                        <div>
                            @Html.ValidationMessageFor(model => model.Compte.motDePasse)
                        </div>
                    </div>*@
                    <div class="user-formulaire">
                        <div class="user-create-btn">
                            <div class="user-btn">
                                <a href="Index" class="btn btnCard-user">Valider</a>
                            </div>
                        </div>
                    </div>
                }
            </form>
        </div>
    </div>
</div>