@using coproBox.Models
@model coproBox.Models.Annonce

@{
    Layout = "_Layout";
    ViewBag.Title = "CreerAnnonce";
}

<div class="animate__animated animate__backInDown titreAnnonce">Déposer une annonce</div>
<div class="container-fluid">
    <div class="row justify-content-center">
        <form class="formAnnonce " method="post" enctype="multipart/form-data">

            @using (Html.BeginForm())
            {

                <fieldset class="row mb-3">
                    <label for="inputEmail3" class="labelAnnonce col-sm-2 col-form-label">Annonce</label>
                    <div class="col-sm-10">
                         @Html.DropDownListFor(m => m.TypeService,
                         Html.GetEnumSelectList<TypeService>(),
                         "Sélectionner le Service")
                    
                    </div>
                </fieldset>

                <div class="row mb-3">
                    @Html.LabelFor(model => model.Titre,  new { @class = "labelAnnonce col-sm-2 col-form-label" })
                    <div class="col-sm-6">
                        @Html.TextBoxFor(model => model.Titre, new { @class = "form-control", placeholder = "Titre" })
                    </div>
                    <div class="col-sm-4">
                        @Html.ValidationMessageFor(model => model.Titre)
                    </div>
                </div>

                <div class="row mb-3">
                    @Html.LabelFor(model => model.Description,  new { @class = "labelAnnonce col-sm-2 col-form-label" })
                    <div class="col-sm-6">
                        @Html.TextAreaFor(m => m.Description, new { @class = "form-control", placeholder = "Description" })
                    </div>
                    <div class="col-sm-4">
                        @Html.ValidationMessageFor(model => model.Description)
                    </div>
                </div>

                <div class="row mb-3">
                    @Html.LabelFor(model => model.DateDebut,  new { @class = "labelAnnonce col-sm-2 col-form-label" })
                    <div class="date col-sm-6">
                        @Html.EditorFor(model => model.DateDebut, new { htmlAttributes = new { @class = "form-control", @type = "date" } })
                    </div>
                    <div class="col-sm-4">
                       @* @Html.ValidationMessageFor(model => model.DateDebut)*@
                    </div>
                </div>

                <div class="row mb-3">
                    @Html.LabelFor(model => model.DateFin,  new { @class = "labelAnnonce col-sm-2 col-form-label" })
                    <div class="date col-sm-6">
                        @Html.EditorFor(model => model.DateFin, new { htmlAttributes = new { @class = "form-control", @type = "date" } })
                    </div>
                    <div class="col-sm-4">
                        @* @Html.ValidationMessageFor(model => model.DateFin)*@
                    </div>
                </div>

                <div class="row mb-3">
                    @Html.LabelFor(model => model.TauxHoraire,  new { @class = "labelAnnonce col-sm-2 col-form-label" })
                    <div class="col-sm-6">
                        @Html.TextBoxFor(model => model.TauxHoraire, new { @class = "form-control", placeholder = "en € / h" })
                    </div>
                    <div class="col-sm-4">
                        @* @Html.ValidationMessageFor(model => model.TauxHoraire)*@
                    </div>
                </div>

                <div class="row mb-3">
                    @Html.HiddenFor(model=>model.ImagePath)
                    @Html.LabelFor(model => model.Image, new { id = "imageLabel", @style = "text-align:center;" })
                         <div class="col-sm-6">
                             @Html.TextBoxFor(model => model.Image, new { placeholder = "Description", @type = "file" })                        
                        </div>           
                </div>

                <div class="row mb-3">
                    @Html.LabelFor(model => model.Tarif,  new { @class = "labelAnnonce col-sm-2 col-form-label" })
                    <div class="col-sm-6">
                        @Html.TextBoxFor(model => model.Tarif, new { @class = "form-control", placeholder = "EUR" })
                    </div>
                    <div class="col-sm-4">
                        @Html.ValidationMessageFor(model => model.Tarif)
                    </div>
                </div>

                <button type="submit" class="btnAnnonce btn" onclick="alert('Merci annonce créee')">Valider</button>
                <div class="fill-my-form" onclick="remplirForm()"></div>
            }

        </form>
    </div>
</div>

<script>
    function remplirForm(){
        document.getElementById('TypeService').value = 2;
        document.getElementById('Titre').value = "Aide courses";
        document.getElementById('Description').value = "J'ai besoin d'aide pour remplire mon frigo.";
        document.getElementById('DateDebut').value = new Date().toISOString().substring(0, 10);
        document.getElementById('DateFin').value = new Date().toISOString().substring(0, 10);
        document.getElementById('TauxHoraire').value = 0;
        document.getElementById('Tarif').value = 20;
    }
</script>