@model List<coproBox.Models.Annonce>
@using coproBox.Models

@{
    Layout = "_Layout";
    ViewBag.Title = "Index";
}

<div class="animate__animated animate__backInDown titreAfficherAnnonce">Annonces publiées</div>

<div class="teste d-flex flex-column ">
	<a class="croix nav-link ms-5 " href="/annonce/creerAnnonce">+</a>
	<p class="croixAnnonce ms-3">Créer annonce</p>
</div>

<div class="container-fluid">
	
	<div class="row justify-content-center">
		<div class="d-flex justify-content-center ">
			@using (Html.BeginForm("TriIndex", "Annonce", FormMethod.Get))
			{
				@*<p>
					Catégorie: @Html.TextBox("SearchString")
					<input type="submit" value="Rechercher" />
			</p>*@

				<p>
                        @Html.DropDownList("SearchDropDown",
                         Html.GetEnumSelectList<TypeService>(),
                         "Sélectionner le Service")
						<input type="submit" value="Rechercher" />
				</p>

			}
		</div>
			
	</div>

			<div class="row justify-content-center">
				@foreach (var annonce in Model)
					   {								   
						   string editlink = "/Annonce/Modifier/" + annonce.Id;
						   string deletelink = "/Annonce/Supprimer/" + annonce.Id;
							string editlink2 = "/Paiement/PaiementAnnonce/" + annonce.Id;

					<div class="card mb-3 m-3" style="max-width: 540px;">
						<div class="row g-0">						
							<div class="col-md-5">
							<img src="@annonce.ImagePath" class="img-thumbnail" alt="...">
							</div>
							<div class="col-md-7">
								<div class="card-body">
									<h5 class="card-title">@annonce.Titre </h5>
										<p class="card-text">@annonce.TypeService</p>
										<p class="card-text">@annonce.DateDebut</p>
										<p class="card-text">@annonce.DateFin</p>
										<p class="card-text">@annonce.TauxHoraire €/h</p>
										<p class="card-text">@annonce.Description</p>
									<p class="card-text"><small class="text-muted">@annonce.Tarif €</small></p>
							<a href="#exampleModal" class="btnCard btn" data-bs-toggle="modal" data-bs-target="#exampleModal">Contacter</a>

							<!-- Modal -->
							<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
								<div class="modal-dialog">
									<div class="modal-content">
										<div class="modal-header">
											<h5 class="modal-title" id="exampleModalLabel">@annonce.Utilisateur.InfosPersonnelle.Nom</h5>
										<h5 class="modal-title ps-2" id="exampleModalLabel">@annonce.Utilisateur.InfosPersonnelle.Prenom</h5>
											<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
										</div>
										<div class="modal-body">
											
											<p>Pour plus d'informations merci de me contacter à l'adresse email suivante:</p>
											<a href="mailto: @annonce.Utilisateur.Compte.email"> @annonce.Utilisateur.Compte.email</a>
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
										</div>
									</div>
								</div>
							</div>
									<a href=@editlink2 class="btnCard btn">Réserver</a>

							<div class="mt-1">
								<a href=@editlink class="btnModifier card-link">Modifier</a>
								@*<a href=@deletelink class="btnSupprimer card-link">Supprimer</a>*@

								<!-- Button trigger modal -->
								<a href=# class="btnSupprimer card-link" data-bs-toggle="modal" data-bs-target="#exampleModal2">Supprimer</a>
								<!-- Modal -->
								<div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel2" aria-hidden="true">
									<div class="modal-dialog modal-dialog-centered">
										<div class="modal-content">
											<div class="modal-header">
												<h5 class="modal-title" id="exampleModalLabel2">
													<img src="/Image/attention.jpg" style="width: 100px; height:100px" alt="">
												</h5>
												<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
											</div>
											<div class="modal-body">
												Êtes vous certain de vouloir supprimer vôtre annonce
											</div>
											<div class="modal-footer">
												
												
													<a href=@deletelink class="btnSupprimer card-link">Supprimer</a>
												
											</div>
										</div>
									</div>
								</div>

								@*@if (User.IsInRole(Role.Admin.ToString()))
								{
									<a href=@deletelink class="card-link">Supprimer</a>
								}*@

							</div>
								</div>
							</div>												
						</div>
					</div>				
		}
			</div>

</div>


						