<div class="liste-cagnottes">
    @foreach (var cagnotte in Model)
    {
        var joursRestants = (cagnotte.EcheanceCagnotte - DateTime.Now).Days;

        <div class="cagnotte">
            <div>
                <div class="heart-container">
                    @if (@cagnotte.SommeActuelle < @cagnotte.SommeObjectif && @cagnotte.EcheanceCagnotte > DateTime.Now){
                        <a href="/cagnotte/infocagnotte/@cagnotte.Id">
                            <div class="filling-heart">
                                <img src="/Image/heartempty2.png" width="300" height="300" />
                            </div>
                        </a>
                    } else{
                        <div class="filling-heart">
                            <img src="/Image/heartempty2.png" width="300" height="300" />
                        </div>
                    }
                    <div class="img-container">
                        <div class="filling-heart h3art" style="height:@((int)(300*@cagnotte.SommeActuelle/@cagnotte.SommeObjectif))px; top:@((int)((-300.0)*@cagnotte.SommeActuelle/@cagnotte.SommeObjectif))px;">
                            <img src="/Image/heartfull2.png" />
                        </div>
                    </div>
                </div>
            </div>
            <h2>@cagnotte.Titre</h2>
            <div>@cagnotte.Description</div>
            <div>@cagnotte.SommeActuelle€ / @cagnotte.SommeObjectif€</div>
            <div>
                @if(@joursRestants < 0)
                {
                    <p>Cagnotte terminée</p>
                } else {
                    <p>@joursRestants jours restants</p>
                }
            </div>
        </div>
    }
</div>