<div class="liste-cagnottes">
    @foreach (var cagnotte in Model)
    {
        <div class="cagnotte">
            <div>
                <div class="heart-container">
                    @if (@cagnotte.SommeActuelle < @cagnotte.SommeObjectif && @cagnotte.EcheanceCagnotte > DateTime.Now){
                        <a href="/cagnotte/infocagnotte/@cagnotte.Id">
                            <div class="filling-heart">
                                <img src="~/image/heartempty2.png" width="200" height="200" />
                            </div>
                        </a>
                    } else{
                        <div class="filling-heart">
                            <img src="~/image/heartempty2.png" width="200" height="200" />
                        </div>
                    }
                    <div class="img-container">
                        <div class="filling-heart h3art" style="height:@((int)(200*@cagnotte.SommeActuelle/@cagnotte.SommeObjectif))px; top:@((int)((-200.0)*@cagnotte.SommeActuelle/@cagnotte.SommeObjectif))px;">
                            <img src="~/image/heartfull2.png" />
                        </div>
                    </div>
                </div>
            </div>
            <div>@cagnotte.Titre</div>
            <div>@cagnotte.Description</div>
            <div>@cagnotte.SommeActuelle€ / @cagnotte.SommeObjectif€</div>
        </div>
    }
</div>