@model coproBox.Models.Cagnotte
@{
    Layout = "_Layout";
    ViewBag.Title = "Modification Cagnotte";
}

<div class="animate__animated animate__backInDown"><h2 class="header-cagnotte">Modifier une cagnotte</h2></div>
<div class="body-info-create">
    <div class="body-create">
        <div class="info-body">
            <form class="row g-3 mx-auto user-create-form" method="post">
                @using (Html.BeginForm())
                {
                    <div>
                        @Html.LabelFor(model => model.Titre, new { @class = "form-label" })
                        @Html.TextBoxFor(model => model.Titre, new { @class = "form-control", placeholder = "Titre"})
                        @Html.ValidationMessageFor(model => model.Titre)
                    </div>
                    <div>
                        @Html.LabelFor(model => model.Description, new { @class = "form-label" })
                        @Html.TextAreaFor(model => model.Description, new { @class = "form-control", placeholder = "Description"})
                        @Html.ValidationMessageFor(model => model.Description)
                    </div>
                    <div>
                        <div>
                            @Html.LabelFor(model => model.SommeObjectif, new { @class = "form-label" })
                        </div>
                        @Html.EditorFor(model => model.SommeObjectif, new { @class = "form-control", htmlAttributes = new { type = "number", min = Model.SommeActuelle } })
                        @Html.ValidationMessageFor(model => model.SommeObjectif)
                    </div>
                    <div>
                        <div>
                            @Html.LabelFor(model => model.EcheanceCagnotte, new { @class = "form-label" })
                        </div>
                        @Html.EditorFor(model => model.EcheanceCagnotte, new { @class = "form-control", htmlAttributes = new { type = "date" } })
                        @Html.ValidationMessageFor(model => model.EcheanceCagnotte)
                    </div>
                    <div class="user-btn">
                        <input type="submit" class="btn btnCard-user" value="Modifier" />
                    </div>
                }
            </form>
        </div>
    </div>
</div>