@model coproBox.Models.Compte
@{
    Layout = "_Layout";
    ViewBag.Title = "Création Compte";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Creer un compte</title>
</head>
<body>
    @using (Html.BeginForm())
    {
        <fieldset>
            <legend>Modifier un compte : </legend>
            @Html.LabelFor(m => Model.numeroIdentifiant)
            @Html.TextBoxFor(m => Model.numeroIdentifiant)
            @Html.ValidationMessageFor(m => Model.numeroIdentifiant)
            <br />
            <br />
            @Html.LabelFor(m => Model.role)
            @Html.TextBoxFor(m => Model.role)
            @Html.ValidationMessageFor(m => Model.role)
            <br />
            <br />
            @Html.LabelFor(m => Model.email)
            @Html.TextBoxFor(m => Model.email)
            @Html.ValidationMessageFor(m => Model.email)
            <br />
            <br />
         
            @Html.LabelFor(m => Model.motDePasse)
            @Html.TextBoxFor(m => Model.motDePasse)
            @Html.ValidationMessageFor(m => Model.motDePasse)
            <br />
            <br />

            <input type="submit" value="Validation" />
        </fieldset>
    }
</body>
</html>
